*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    background-color: #a53860;
}
.preloader{
    position: fixed;
    background-color: #1f0707;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}
.bird{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
}
.dog{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    display: none;
}
.cat{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: absolute;
    display: none;
}
.preloader-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}